NUTSNEWS_BACKEND_PRIMARY_DB_URL={{ backend_supabase_standby_relay_source_db_url }}
NUTSNEWS_PRODUCTION_SUPABASE_DB_URL={{ backend_supabase_standby_relay_target_db_url }}
NUTSNEWS_STANDBY_RELAY_MANIFEST={{ backend_supabase_standby_relay_manifest_path }}
NUTSNEWS_STANDBY_RELAY_STATUS={{ backend_supabase_standby_relay_status_path }}
